AMO_DOMAIN=твой_домен.amocrm.ru
AMO_TOKEN=вставь_долгосрочный_токен_amocrm
META_TOKEN=вставь_токен_meta_marketing_api
AD_ACCOUNT_ID=id_рекламного_аккаунта
SPREADSHEET_ID=id_google_таблицы_из_url
GOOGLE_SERVICE_ACCOUNT_JSON=/абсолютный/путь/вне/репозитория/service-account.json
ALERT_BOT_TOKEN=токен_telegram_бота_для_уведомлений_о_сбоях
ALERT_CHAT_IDS=chat_id_через_запятую
